@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Nunito&family=Nunito+Sans:opsz,wght@6..12,400;6..12,700&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-family: "Nunito", sans-serif;
  font-size: 20px;
}

body {
  background: linear-gradient(90deg, #0e3959 0%, #0e3959 30%, #03a9f5 30%, #03a9f5 100%);
}

nav {
  background-color: black;
  height: 100px;
  width: 100%;
}
nav ul {
  float: right;
  margin-right: 20px;
}
nav ul li {
  display: inline-block;
  line-height: 100px;
  margin: 0 10px;
}
nav ul li a {
  color: white;
  font-size: 18px;
  border-radius: 3px;
  text-transform: uppercase;
}

li a.active, li a:hover {
  background-color: blue;
  transition: 0.5s;
}

.enlace {
  position: absolute;
  padding: 10px;
  margin-left: 20px;
}

.logo {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.checkbtn {
  font-size: 30px;
  color: white;
  float: right;
  line-height: 100px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
  z-index: 2;
}

#check {
  display: none;
}

@media (max-width: 600px) {
  .checkbtn {
    display: block;
  }
  ul {
    position: fixed;
    width: 100%;
    height: 100%;
    background: gray;
    top: 100px;
    left: -100%;
    text-align: center;
    transition: all 0.5s;
    z-index: 1;
  }
  nav ul li {
    display: block;
    margin: 50px 0;
    line-height: 40px;
  }
  nav ul li a {
    font-size: 20px;
  }
  li a:hover, li a.active {
    background: none;
    color: red;
  }
  #check:checked ~ ul {
    left: 0;
  }
}
.logo-footer {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: solid 3px black;
}

.pie-pagina {
  width: 100%;
  background-color: #0a141d;
}
.pie-pagina .grupo1 {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 50px;
  padding: 45px 0px;
}
.pie-pagina .grupo1 .red-social a {
  display: inline-block;
  width: 45px;
  height: 45px;
  line-height: 45px;
  color: #fff;
  margin-right: 10px;
  background-color: #0d2033;
  text-align: center;
  transition: all 300ms ease;
}
.pie-pagina .grupo1 .box p {
  color: #efefef;
  margin-bottom: 10px;
}
.pie-pagina .grupo1 .box h2 {
  color: white;
  margin-bottom: 25px;
  font-size: 20px;
}
.pie-pagina .grupo1 .box figure {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pie-pagina .grupo1 .red-social a:hover {
  color: aqua;
}

.grupo2 {
  background-color: #0a1a2a;
  padding: 15px 10px;
  text-align: center;
  color: white;
}

@media screen and (max-width: 600px) {
  .pie-pagina .grupo1 {
    width: 90%;
    grid-template-columns: 1fr;
    grid-gap: 30px;
    padding: 35px 0px;
  }
}
.catalogo {
  display: grid;
  grid-template-columns: 33.3% 33.3% 33.3%;
  margin: 20px;
}

.un_dormitorio1 {
  width: 350px;
  height: 350px;
  margin: 20px;
  border-radius: 20%;
  border: solid;
  color: black;
}

.dos_dormitorios2 {
  width: 350px;
  height: 350px;
  margin: 20px;
  border-radius: 20%;
  border: solid;
  color: black;
}

.tres_dormitorios3 {
  width: 350px;
  height: 350px;
  margin: 20px;
  border-radius: 20%;
  border: solid;
  color: black;
}

.un_dormitorio {
  text-align: center;
  color: white;
}

.dos_dormitorios {
  text-align: center;
  color: white;
}

.tres_dormitorios {
  text-align: center;
  color: white;
}

.precio {
  font-family: sans-serif;
  font-size: 20px;
}

@media (max-width: 600px) {
  .catalogo {
    display: grid;
    grid-template-columns: 100%;
  }
}
.contactanos {
  position: relative;
  width: 100%;
  padding: 40px 100px;
}

.contactanos .titulo-contacto {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 2em;
}

.contactanos .titulo-contacto h2 {
  color: white;
  font-weight: 500;
  font-size: 40px;
}

.form {
  grid-area: form;
}

.info {
  grid-area: info;
}

.map {
  grid-area: map;
}

.contacto {
  padding: 40px;
  background-color: white;
  box-shadow: 0 5px 35px rgba(0, 0, 0, 0.15);
}

.caja {
  position: relative;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 5fr 4fr;
  grid-template-areas: "form info" "form map";
  grid-gap: 20px;
  margin: 100px 100px;
  margin-top: 20px;
}

.caja h3 {
  color: black;
  font-weight: 500;
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.formbox {
  position: relative;
  width: 100%;
}

.formbox .row50 {
  display: flex;
  gap: 20px;
}

.inputbox {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  width: 50%;
}

.formbox .row100 .inputbox {
  width: 100%;
}

.inputbox span {
  color: black;
  margin-top: 10px;
  margin-bottom: 5px;
  font-weight: 500;
  font-size: 1.5rem;
}

.inputbox input {
  padding: 10px;
  font-size: 1.1em;
  outline: none;
  border: 1px solid black;
}

.inputbox textarea {
  padding: 10px;
  font-size: 1.1em;
  outline: none;
  border: 1px solid black;
  resize: none;
  min-height: 220px;
  margin-bottom: 10px;
}

.inputbox input[type=submit] {
  color: white;
  background-color: #ff578b;
  border: none;
  font-size: 1.1em;
  max-width: 120px;
  font-weight: 500;
  cursor: pointer;
  padding: 14px 15px;
}

.inputbox ::placeholder {
  color: black;
}

.info {
  background-color: #284a64;
}

.info h3 {
  color: white;
}

.info .infobox div {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.info .infobox div span {
  min-width: 40px;
  height: 40px;
  color: white;
  background-color: #18b7ff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5em;
  border-radius: 50%;
  margin-right: 15px;
}

.info .infobox div p {
  color: white;
  font-size: 1.1em;
}

.info .infobox div a {
  text-decoration: none;
  color: white;
  font-size: 1.1em;
}

.map {
  padding: 0;
}

.map iframe {
  width: 100%;
  height: 100%;
}

@media (max-width: 1200px) {
  .formbox .row50 {
    display: grid;
  }
  .inputbox {
    width: 100%;
  }
  .contactanos {
    padding: 20px;
  }
  .caja {
    margin-left: 30px;
    text-align: center;
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: "form" "info" "map";
  }
}
.bancos {
  width: 200px;
  height: 200px;
}

.hombre-dinero {
  width: 100vw;
  margin: 30px 0;
}

.intro_fin {
  text-align: center;
}

.fin1 {
  color: white;
  font-size: 30px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  margin: 30px;
}

.grid-bancos {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin: 25px;
  gap: 25px;
  align-items: center;
  justify-items: center;
}

.bancos {
  margin-top: 35px;
  margin-bottom: 35px;
}
.bancos img {
  width: 100%;
  height: 100%;
}

@media (max-width: 600px) {
  .grid-bancos {
    display: grid;
    grid-template-columns: 1fr;
  }
}
img {
  max-width: 100%;
}

.titulo {
  text-align: center;
}

.portada {
  font-size: 30px;
  color: white;
  margin: 20px;
  font-family: "Courier New", Courier, monospace;
}

.fondo-home {
  background: url(../img/mujer_hogar.png) no-repeat;
  background-size: cover;
  background-position: center center;
  height: 100vh;
  height: 100vh;
}

.dueños {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
  margin: 100px;
}
.dueños p {
  font-size: 1.5rem;
  color: black;
  border: 1px;
  font-family: cursive;
}
.dueños img {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  border: solid black;
  box-shadow: 10px 5px;
}

.nosotros {
  display: inline-block;
  text-align: center;
  width: 100%;
}
.nosotros img {
  border: solid black 1px;
  margin: 25px;
}
.nosotros p {
  font-size: 1.5rem;
  border: 1px;
  font-family: cursive;
}

@media screen and (max-width: 600px) {
  .dueños {
    display: grid;
    grid-template-columns: 1fr;
    gap: 35px;
  }
}
.nosotros {
  margin-left: 0;
}
.nosotros img {
  margin-left: 0;
}

/*# sourceMappingURL=style.css.map */
