.contactanos{
    position: relative;
    width: 100%;
    padding: 40px 100px;
}

.contactanos .titulo-contacto{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 2em;
    h2{
        color:$color-white;
        font-weight: 500;
        font-size: 40px;
    }
    }


.form {
    grid-area: form;
}

.info {
    grid-area: info;
}

.map {
    grid-area: map;
}

.contacto{padding: 40px;
    background-color:$color-white;
    box-shadow: 0 5px 35px rgba(0, 0, 0, 0.15)
}

.caja{
    position: relative;
    display: grid;
    grid-template-columns:2fr 1fr;
    grid-template-rows:5fr 4fr;
    grid-template-areas:
    "form info"
    "form map" ;
    grid-gap: 20px;
    margin: 100px 100px;
    margin-top: 20px;
    h3 {
        color:$color-black;
        font-weight: 500;
        font-size: 1.5rem;
        margin-bottom: 10px;
    }
}

.formbox {
    position: relative;
    width: 100%;
    .row50 {
        display: flex;
        gap: 20px;
    }
}

.inputbox {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    width: 50%;
    & ::placeholder{
        color: $color-black;
    }
    input[type="submit"] {
        color:$color-white;
        background-color:$color1;
        border: none;
        font-size: 1.1em;
        max-width: 120px;
        font-weight: 500;
        cursor: pointer;
        padding: 14px 15px;
    }
    textarea {
        padding: 10px;
        font-size: 1.1em;
        outline: none;
        border: 1px solid $color-black;
        resize: none;
        min-height: 220px;
        margin-bottom: 10px;
    }
    input {
        padding: 10px;
        font-size: 1.1em;
        outline: none;
        border: 1px solid $color-black;
    }
    span{
        color:$color-black;
        margin-top: 10px;
        margin-bottom: 5px;
        font-weight: 500;
        font-size: 1.5rem;
    }
}

.formbox .row100 .inputbox{
  width: 100%;
}

.info {
    background-color:$color2;
    h3 {
        color:$color-white; 
     }
}

.info .infobox div{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    a{
        text-decoration: none;
        color: $color-white;
        font-size: 1.1em;
    }    
    p {
        color:$color-white;
        font-size: 1.1em;
    }    
    span{
        min-width: 40px;
        height: 40px;
        color:$color-white;
        background-color:$color3;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.5em;
        border-radius: 50%;
        margin-right: 15px;
        }
}

.map {
    padding: 0;
    iframe {
        width: 100%;
        height: 100%;  
      }
}

@media (max-width:1200px){ 
.formbox .row50{
    display: grid;
}

.inputbox {
    width: 100%;
}

.contactanos{
    padding: 20px;
}

.caja{
margin-left: 30px;
text-align: center;
position: relative;
display: grid;
grid-template-columns: 1fr;
grid-template-rows: auto;
grid-template-areas: 
"form"
"info"
"map";
}

}