.bancos {
    width: 200px;
    height: 200px;
   
}

.hombre-dinero {
    width: 100vw;
    margin: 30px 0;
}

.intro_fin {
    text-align: center;
}

.fin1 {
    color: white;
    font-size: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 30px;
}

.grid-bancos {
    display: grid;
    grid-template-columns:1fr 1fr 1fr 1fr;
    margin: 25px;
    gap: 25px;
    align-items: center;
    justify-items: center;
    
}

.bancos {
    margin-top: 35px;
    margin-bottom: 35px;
    img {
        width: 100%;
        height: 100%;
    }    
}

@media (max-width:600px) {
    .grid-bancos{
        display: grid;
        grid-template-columns: 1fr;
    }
}


