.dueños { 
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    margin: 100px;
    p{
        font-size: 1.5rem;
        color:$color-black;
        border: 1px;
        font-family:cursive;
    }
    img{
        border-radius: 50%;
        width: 200px ;
        height: 200px;
        border: solid $color-black;
        box-shadow: 10px 5px;
    }
    
}

.nosotros {
    display:inline-block;
    text-align: center;
    width: 100%;
    img{
        border: solid $color-black 1px;
        margin: 25px;
        }
    p{
        font-size: 1.5rem;
        border: 1px;
        font-family: cursive;
    }
}

@media screen and (max-width:600px){
    .dueños{
        display: grid;
        grid-template-columns: 1fr;
        gap: 35px;
    } 
}

.nosotros {
    margin-left: 0;
    img {
        margin-left: 0;
    }
}