.dueños {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1cm;

}

.dueño1 {
    margin-left: 3cm;
    margin-right: 3cm;
    border-radius: 50%;
    width: 200px ;
    height: 200px;
}

.dueño2 {
    margin-left: 4.5cm;
    
}

.nosotros1 {
    display: flex;
    margin: 2cm;
}

.intro_nosotros {
    display: flex;
    margin: 2cm;
    
}

.intro2 {
    font-size: 1cm;
    font-family: 'Times New Roman', Times, serif;
    color: white;
}

